@import url(https://fonts.googleapis.com/css?family=Inter:400,700);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline
}
html {
    line-height:1
}
ol,ul {
    list-style:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
strong {
    font-weight: 700;
}
caption,th,td {
    text-align:left;
    font-weight:normal;
    vertical-align:middle
}
q,blockquote {
    quotes:none
}
q:before,q:after,blockquote:before,blockquote:after {
    content:"";
    content:none
}
a img {
    border:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display:block
}
*,*:before,*:after{
    box-sizing:border-box;
}
html{
    margin:0;
    min-height:100%
}
body{
    margin:0;
    min-height:100%;
    font-family:"Inter", helvetica, sans-serif;
    font-size:14px;
    text-align:center;
    color:#353E3C;
    background:#fff url(../images/bg-top.jpg) top center no-repeat;
    background-size: 1250px;
}
a{
    text-decoration:none;
    color:#353E3C;
    transition-property:all;
    transition-duration:0.2s
}
a:active{
    outline:none
}
.btn{
    display:inline-block;
    vertical-align:middle;
    padding:24px 40px;
    color:#fff;
    font-size:24px;
    border-radius:4px
}
.btn:active{
    transform:scale3d(.95, .95, .95)
}
.btn.outline{
    background-color:transparent;
    border:2px solid #353E3C;
    color:#353E3C;
    font-size:16px;
    padding:18px 30px
}
.btn.alone{
    margin:120px auto
}
img{
    border:none;
    display:block
}
hr{
    height:1px;
    background-color:#e7e9ea;
    border:none
}
h1{
    display:none
}
h4{
    font-size:26px;
    margin:20px 0 10px 0;
}
p{
    line-height:1.4em;
}
.play-video {
    cursor: pointer;
    transition-property:all;
    transition-duration:0.2s;
}
.play-video:active {
    transform:scale3d(.97, .97, .97)
}
section{
    margin:0 auto;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 100px;
    background: transparent url(../images/bg-bottom.png) bottom center no-repeat;
    background-size: cover;
}
#header{
    display: flex;
    flex-direction: row;
    padding:30px;
}
#header > * {
    display: flex;
    align-items: center;
    width: 100%;
}
#header .middle {
    position: absolute;
    left: 0;
    justify-content: center;
    z-index: 0;
}
#header .middle a {
    padding: 12px 20px;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.7);
}
#header .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 7px;
    z-index: 1;
}
#header .right s {
    opacity: 0.4;
}
#header .right a{
    display: inline-block;
    font-size:18px;
    color:#353E3C;
}
#header .right a:after{
    content:"";
    display:block;
    border-bottom:1px solid #353E3C;
    transition-property:all;
    transition-duration:0.2s;
    opacity: 1;
}
#header .right a:hover:after{
    opacity: 0;
}
#header #badge{
    width:50px;
    height:46px;
}
#header #badge svg{
    width:100%;
    height:100%;
}
#heading{
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding:50px 0 0 0;
    max-width:inherit;
    line-height:1.3em;
}
.heading-bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#logo{
    max-width:500px;
    margin:0 auto 20px auto;
    width:100%;
    padding:0 40px;
    text-align:center;
}
#logo svg{
    width:100%;
}
#play{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 324px;
    width: 194px;
    background: transparent url(../images/video-thumb.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 80px;
    overflow: hidden;
}
#play video {
    width: 194px;
    z-index: 0;
    pointer-events: none;
}
#play svg{
    position: absolute;
    z-index: 1;
}
.videos {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
}
.videos > * {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #353E3C;
    background-color: rgba(62,62,53,0.1);
    border-radius: 20px;
    padding: 10px 20px;
}
.videos > *:hover {
    background-color: rgba(62,62,53,0.25);
}
.people{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}
.person{
    position: relative;
    display:flex;
    width:202px;
    height:283px;
    text-align:right;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 80px;
}
.person .name{
    position:absolute;
    bottom:10px;
    right: 10px;
    padding: 8px 12px;
    background-color: #FCF5EC;
    border-radius: 30px;
    opacity: 0;
    transform: translateY(-10px);
    transition-property:all;
    transition-duration:0.2s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 30px;
}
.person:hover .name {
    opacity: 1;
    transform: translateY(0);
}
.people .more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 220px);
    opacity: 0.5;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
#resort {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#resort .image{
    margin: 0 auto;
    max-width: 660px;
}
#resort img{
    max-width: 100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 80px;
}
#resort p{
    padding: 0 20px;
}
#resort a{
    text-decoration: underline;
}
#resort a:hover{
    text-decoration: none;
}
#reg-now {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#reg-now a{
    color: #FCF5EC;
    background-color: #353E3C;
    border-radius: 20px;
    font-size: 18px;
    padding: 12px 20px;
}
#reg-now a:hover{
background-color: rgba(62,62,53,0.7);
}
footer{
    margin:0 auto;
    padding:20px 0 50px 0;
}
footer img{
    fill:#353E3C;
}
footer span{
    display:block;
    margin:30px 0 0 0;
}
footer a{
    text-decoration: underline;
}
footer a:hover{
    text-decoration: none;
}
footer span.small{
    font-size:14px;
}
footer .soon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
    padding: 10px;
    margin-bottom: 80px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
#video{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
    cursor:pointer;
    background-color:rgba(2,3,3,0.9);
    z-index:10;
}
#video iframe{
    margin:5% auto 0 auto;
    max-width:100%;
    background-color:#000
}
#topvideo>iframe{
    margin:5% auto;
    max-width:100%;
    background-color:#000
}
@media only screen and (min-width: 1600px){
    body{
        background-size:cover;
    }
}
@media only screen and (min-width: 1250px){
    body{
        background-size:1600px;
    }
}
@media only screen and (max-width: 660px){
    #resort img{
        border-radius: 0;
    }
}
@media only screen and (max-width: 640px){
    #video>iframe,#topvideo>iframe{
        height:430px !important
    }
    .people .more {
        width: 100%;
    }
    #header{
        padding-bottom: 100px;
    }
    #header .middle{
        top: 120px;
    }
}
@media only screen and (max-width: 360px){
    #video>iframe,#topvideo>iframe{
        height:200px !important
    }
}

@media (hover: none) {
    .person:hover .name {
        opacity: 1;
        transform: translateY(0);
    }
}